<script type="text/javascript">hlWhat();</script>

<style>


.list-check {
	margin-left: 15px;
	padding-left: 0;
	list-style: none;
}

.list-check li {
	padding-left: 20px;
	background: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/check.png) left 3px no-repeat;
}

#likebutton {
margin-left:250px;
padding-top:20px;
}

a {
  text-decoration: none;
}

a .more_mod1 {
  color: #6fb43f;
  padding: 3px 12px 0px 0px;
  text-align: right;
  text-decoration: none;
  float: right;

}



</style>


<div id="contentfull">
	<div class="imgright">
		<div style="padding-bottom:25px;">
			<a href="http://vitrue.com/index.php?option=com_content&id=387"><img src="http://cdn.vitrue.com/vitrue/vitrue_website/images/liveDemo_agency.png" alt="Live Demo" border="0"/><a>
		</div>
		<div style="padding-bottom:25px;">
			<a href="http://vitrue.com/index.php?option=com_content&id=386"><img src="http://cdn.vitrue.com/vitrue/vitrue_website/images/agencySignUp.png" alt="Agency Sign Up" border="0"/><a>
		</div>
		<div style="padding-bottom:10px;">
			<img src="http://cdn.vitrue.com/vitrue/vitrue_website/images/agencyLogos.png" alt="Agency List" border="0"/>
		</div>
		<a href="/our-customers"><span class="more_mod1"/>+ more</a>
		
	</div>
<div>
<p class="bold">Agency-built social media. Supercharged by Vitrue. </p>

<p>The modern consumer lives online, and breathes social media. The modern
creative agency must be right there, even a step ahead of the curve, to provide
value for the brands they are building. Vitrue’s Social Relationship Management
(SRM) Platform gets you there.
</p>

<p>Vitrue provides agencies a free API to use as client acquisition and retention
tool.  The Vitrue Agency API enables agencies to innovate for their clients on
the Facebook Wall where reach is 110 times greater.  Agencies can create their
own <span class="bold">custom Wall Apps</span> and deliver any flash-based apps or content directly to
the news feeds of their clients’ fans.
</p>

<p>The Vitrue SRM API also allows agencies to build custom tabs to drive
fans to a deeper brand experience.  Vitrue Tabs also include <span class="bold">standard CSS
integration</span> and <span class="bold">custom FBML</span>, giving agencies a true CMS for managing tabs on
Facebook. Vitrue Tabs also lets agencies include their own flash-based content,
via the custom SWF app module.
</p>

<p>Agencies need a scalable and flexible tools platform that allows them to
deliver on their creative ideas in a fast and iterative environment.  The Vitrue
SRM Platform is available free for agencies to test and develop social media
initiatives for clients and prospects. License fees are only initiated when
an agency launches a client implementation.  
<a href="http://vitrue.com/index.php?option=com_content&id=386">Click here to find out how to get started.</a>  
Our social software palette empowers agencies to take their transformative ideas and make them social.
</p>

<p class="bold">Features</p>
<ul class="list-check">
<li><p><span class="bold">Custom Wall App: </span>Vitrue Publisher lets agencies leverage existing games, banners, and widgets — any SWF file — by posting it to their clients Facebook Page as a “Wall App”. Custom SWF Wall Apps can be posted over and over, maximizing the value of the in-house skill-set of an agency and the engagement of Facebook consumers.</p></li>
	
<li><p><span class="bold">Customizable Look and Feel: </span>Vitrue Tabs allows creative agencies to bring the look and style of their clients onto Facebook via a custom tab. Creative personnel can directly design and edit the CSS stylesheets for the tab, to agency specifications. Vitrue connects you to Facebook, you connect users to your brand.</p></li>

<li><p><span class="bold">Convenient Application Modules: </span>Vitrue’s products include dozens of out-of-the-box content applications and modules that make it easy to customize coupons, polls, videos, quizzes and more that reflect a brand’s style and personality.</p></li>

<li><p><span class="bold">Customizable Tab Content:</span> Need to integrate with an external Web site? You have a team of coders on hand already so build your own content modules and place them on the tabs of your clients brands, using Vitrue’s “Custom FBML” app module. Vitrue gives you the power to customize the Facebook experience according to your needs.</p></li>

<li><p><span class="bold">Workflow Management:</span> With Vitrue Publisher, brand administrators can control who can create content and who can publish the content.

</p></li>
</ul>

<p>Vitrue’s platform is fully compatible with Facebook’s rapid development cycles,
allowing agencies to concentrate on their expertise and get social instantly
without any barriers in terms of cost or technology expertise of Facebook’s
standards and preferences. Facebook is a dynamic and ever-changing platform
and agencies need a technology partner that not only can keep up with those
changes but also can deliver a product that continually excels and maximizes
those changes.
</p>

</div>

</div>