<style>

body {
	width: 930px;
}

a:active{
outline:0;
}

#industryheader {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/industryleading_header.png);
	background-repeat:no-repeat;
	height: 35px;
	width: 444px;
        position: relative;
        margin-left: 450px;

}

#landingheader {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/landingpage_header.png);
	background-repeat:no-repeat;
	height: 61px;
	width: 399px;
        position: relative;
}

.list-check {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.list-check li {
	padding-left: 16px;
	background: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/check_small.png) left 3px no-repeat;
}

#entertowin {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/enter_to_win.png);
        width: 665px;
        height: 53px;
        position: relative;
}

#awards {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/awards.png);
        width: 188px;
        height: 181px;
        position: relative;
        float: right;
}

#contact {
        /* background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/contact.png);*/
        width: 376px;
        height: 28px;
        position: relative;
        margin-left: 519px;       
      
}

#formimage {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/form_image.png);
        width: 670px;
        height: 195px;
        position: relative;
      
}

#signUpForm {
	background-image: url(http://cdn.vitrue.com/vitrue/vitrue_website/images/signupFormBack.png);
		background-repeat:no-repeat;
    width: 670px;
    height: 195px;
    position: relative;
}

#signUpForm .leftColumn{
	width: 320px;
	height: 160px;
	float: left;
	
}

#signUpForm .rightColumn{
	width: 330px;
	height: 160px;
	float: left;
}

#signUpForm .labelContainer{
	width: 110px;
	color: #5a5a5a;
	font-size: 10pt;
	text-align: right;
	padding-top: 10px;
	float: left;
	
}

#signUpForm .fieldContainer{
	width: 185px;
	padding-top: 10px;
	float: right;
}

#signUpForm .fieldContainer input.text_element{
	width: 175px;
	margin-bottom: 8px;
}


#signUpForm .rightColumn #submitBtn{
	width: 112px;
	height: 37px;
	padding-left: 185px;
	padding-top: 15px;
	float: left;
}

#signUpForm .darkText{
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	float: left;
	
}
/*
#signUpForm .rightColumn .darkText{
	padding-left: 50px;
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
}
*/
#signUpForm .linkText a{
	padding-left: 140px;
	font-size: 8pt;
	font-weight: bold;
	color: #005fa1;
	text-align: left;
	float:left;
	
}



#products {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/products.png);
		background-repeat:no-repeat;
        width: 894px;
        height: 355px;
        position: relative;
      
}

#tabs {
       width: 265px;
       height: 306px;
       color: #FFF;
       font-size: 10px;
       margin-top: 150px;
       margin-left: 22px;
       position: absolute;
}


#publisher {
       width: 265px;
       height: 306px;
       color: #FFF;
       font-size: 10px;
       margin-top: 150px;
       margin-left: 320px;
       position: absolute;
}

#apps {
       width: 265px;
       height: 306px;
       color: #FFF;
       font-size: 10px;
       margin-top: 150px;
       margin-left: 613px;
       position: absolute;
}

#clients {
        background-image: url(http://vitrue.sites.depot.vitrue.com/vitrue_website/images/clients.png);
        width: 513px;
        height: 119px;
        position: relative;
      
}

#submit {
        width: 107px;
        height: 38px;
        position: absolute;
        left: 514px;
        top: 154px;
}

#terms {
        width: 169px;
        height: 15px;
        position: absolute;
        left: 486px;
        top: 125px;
}
</style>

<div id="industryheader"> </div>
<div id="landingheader"> </div>
<p>If you are a marketer trying to launch or manage social media for your business, you have no doubt discovered that you need the right tools to achieve your goals. We can help! Vitrue is a leading social media management company providing cutting edge solutions to help your business:</p>

<ul class="list-check">
<li>Drive Fan Acquisition and grow brand awareness</li> 
<li>Activate your fan base with engaging conversation</li>  
<li>Create value and long term brand loyalty</li> 
<li>Engage your fans with apps that spread your message virally</li> 
</ul>

<p>Whether your brand is new to social media or if you’re ready to take your efforts to the next level, Vitrue’s 
comprehensive social media platform can help.</p>
<br />

<div id="entertowin"></div>
<br />
<div id="awards"></div>

<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
<div id="signUpForm">
	<input type=hidden name="oid" value="00DA0000000KCw7">
	<input type=hidden name="retURL" value="http://vitrue.com/index.php?option=com_content&id=373">
	<input type=hidden name="lead_source" value="Landing Page 10 Free Hours">
	
	<div class="leftColumn">
		<div class="labelContainer">
			First Name*<br /><br />
			Last Name*<br /><br />
			Company*<br /><br />
			Email*<br /><br />
		</div>
		
		<div class="fieldContainer">
				<input  class="text_element" id="first_name" maxlength="40" name="first_name" size="20" type="text" />
				<input  class="text_element" id="last_name" maxlength="80" name="last_name" size="20" type="text" />
				<input  class="text_element" id="company" maxlength="40" name="company" size="20" type="text" />
				<input  class="text_element" id="email" maxlength="80" name="email" size="20" type="text" />
				
		</div>
		
		
		<div class="darkText" style="padding-left: 25px;"><input  id="00NA0000004BNQa" name="00NA0000004BNQa" type="checkbox" value="1" checked />Yes, I would also like to receive Vitrue news</div>
	 
	</div>
	
	<div class="rightColumn">
		
		<div class="labelContainer">
			Phone*<br /><br />
			Country*<br /><br />
			State/Province*<br /><br />
		</div>
		
		<div class="fieldContainer">
			<input  class="text_element" id="phone" maxlength="40" name="phone" size="20" type="text" />
			<input  class="text_element" id="country" maxlength="40" name="country" size="20" type="text" />
			<input  class="text_element" id="state" maxlength="20" name="state" size="20" type="text" />
			
		</div>
		<div class="clear"></div>
	
		<div class="darkText" style="padding-left: 5px;">fields marked with * must be filled to submit the form</div>
		<div class="linkText"><a href="http://vitrue.com/index.php?option=com_content&id=380">&gt; view complete contest terms</a></div>
		
		<div id="submitBtn">
			<input type="image" value="submit" name="submit" id="submit-btn" src="http://cdn.vitrue.com/vitrue/vitrue_website/images/signupSubmitBtn.png">
		</div>
	</div>
	
	<div class="clear"></div>

</div>
</form>
	
	
	
	
	
	
	
<div id="terms">
<a href="http://vitrue.com/index.php?option=com_content&id=367" id="terms"></a>
</div>
<div id="submit"></div>
</div>
<br /><br />
<div id="contact"><img src="http://vitrue.sites.depot.vitrue.com/vitrue_website/images/contact.png" alt="Contact us to get started today!" /></div>

<div id="products">
<div id="tabs">
<ul class="list-check">
<li>Customize your tab with easy-to-use content management system</li><br />
<li>Create your own landing page to drive your campaigns to</li> <br />
<li>Creating your custom experience has never been easier</li>
</ul>
</div>
<div id="publisher">
<ul class="list-check">
<li>Create visually engaging content</li><br />
<li>Manage work flow</li> <br />
<li>Moderate your page programatically</li><br />
<li>Schedule posts in advance</li>
</ul>
</div>
<div id="apps">
<ul class="list-check">
<li>Drive Sales through couponing and sweeps</li><br />
<li>Get your customers to interact with photos and videos</li> <br />
<li>Polling and Quizzes</li><br />
<li>Deliver powerful apps via tabs, news feeds or create your own custom experience</li>
</ul>
</div>
</div>
<div id="clients"></div>